.App {
  padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

#slider{
  background-color: #e8f3e5;
    height: 40px;
    color: black;
    display: grid;
    
    font-weight: bold;
    grid-template-columns: 100% 100%;
    overflow: hidden;
}

#slider>p{
  
  animation: blackslide 5s linear infinite;
}

@keyframes blackslide{
  0%{
    margin-left: 100%
 }

 
}



